.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
	margin-bottom: 60px;
}

.inputWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-size: 0.875rem;
}
