.menu {
  display: flex;
  align-items: center;
  gap: 20px;
  height: 100%;

  @media (max-width: 768px) {
    flex-direction: column;
    gap: 25px;
  }
}

.item {
  position: relative;
}

.link {
  display: inline-flex;
  align-items: center;
  height: 100%;
  padding: 0 8px;
  color: white;
  font-weight: 500;
  font-size: 0.9rem;
  line-height: 1.4;
  transition: all 0.2s ease;
  white-space: nowrap;

  &:hover,
  &.active {
    color: var(--ui-color-link-grey);
  }

  &:hover {
    transform: translateY(-1px);
  }
}
