.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  color: white;
  background-color: var(--primary-red-light-color);
  font-weight: 600;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: var(--primary-red-ligth-hover-color);
  }

  &:disabled {
    cursor: not-allowed;
  }
}

.loader {
  width: 24px;
  height: 24px;
  filter: brightness(0) invert(1);
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
