:root {
  --primary-red-light-color: #ff5151;
  --primary-red-ligth-hover-color: #f13d3d;

  --primary-blue-color: #42a5f5;
  --primary-blue-hover-color: #3f9ae4;

	--primary-green-color: #38c36b;
  --primary-green-ligth-color: #34b061;

  --grey-light-color: #eceff1;
  --grey-color: #dbdcdd;

  --text-color: #4d4646;
  --text-color-light: #615858;

  --error-color: #f83939;
}
